image: silex/emacs:alpine-ci

pages:
  stage: deploy
  variables:
    BASE_URL: https://slu.gitlab.io
  script:
  - scripts/build.sh
  artifacts:
    paths:
    - public
    expire_in:
  only:
    - main
