on: [push]

jobs:
  site:
    runs-on: ubuntu-latest
    container: silex/emacs:alpine-ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        env:
          BASE_URL: https://soren.github.io
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          scripts/build.sh
      - name: Publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
